:root {
  --white: #fff;
  --white-translucent: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #ea7600;
  --dark: #2a2626;
  --dark-primary: #42413c;
  --dark-translucent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.woff2');
}

@font-face {
  font-family: 'Neucha Regular';
  src: url('../fonts/Neucha-Regular.woff2');
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  font-family: 'OpenSans Regular', sans-serif;
  line-height: 1.6em;
}

a:active {
  color: var(--blue);
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-item-equal-width {
  flex-basis: 0;
  flex-grow: 1;
}

.section {
  position: relative;

  width: 1110px;
  margin: 0 auto;
}

.section-summary {
  font-size: 34px;
  font-family: 'Neucha Regular', sans-serif;
  line-height: 1.2;
}

.background-solid-dark {
  background-color: var(--dark-primary);
}

.background-solid-white {
  background-color: var(--white);
}

.background-pattern-light {
  position: relative;
}

.background-pattern-light::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-pattern-light::after {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--light);

  content: "";
}

.background-pattern-dark {
  position: relative;
}

.background-pattern-dark::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/background.png");
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-pattern-dark::after {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  content: "";
}

[class^=header-] {
  margin: 0 0;

  font-weight: 400;

  font-family: 'Neucha Regular', sans-serif;
  line-height: 1.2em;
}

.header-1 {
  font-size: 72px;
}

.header-2 {
  font-size: 60px;
}

.header-3 {
  font-size: 34px;
}

.header-muted {
  color: var(--dark-translucent);
  font-size: 24px;
}

.header-muted-dark {
  color: var(--white-translucent);
  font-size: 24px;
}

[class^=header-section-article-] {
  display: block;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.header-section-article-dark {
  color: var(--white);

  background-color: var(--brown);
}

.header-section-article-light {
  color: var(--brown);

  background-color: var(--white);
}

.text-color-primary {
  color: var(--primary);
}

.text-color-white {
  color: var(--white);
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.break-after-paragraph {
  break-after: column;
}

[class*="button"] {
  box-sizing: border-box;
  height: 50px;

  background-color: var(--primary);
}

[class*="button"]:hover {
  background-color: var(--primary-dark);
}

.nav-button {
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.video {
  position: absolute;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-container {
  position: relative;

  display: flex;
  justify-content: center;
}

.illustration-header {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.illustration-section {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.illustration-section:nth-child(odd) {
  margin-right: 30px;
}

.cards {
  display: flex;

  flex-wrap: wrap;
  max-width: 1110px;
  padding-top: 60px;

  color: var(--dark);
}

.card {
  flex: 1 1 350px;
  box-sizing: border-box;

  margin: 10px 15px;
  padding: 24px;

  color: var(--dark);

  background-color: var(--light);
}

.card:nth-child(3n + 1) {
  margin-left: 0;
}

.card:nth-child(3n + 3) {
  margin-right: 0;
}

.nav-link {
  display: inline-block;

  text-decoration: none;
}

.card-title {
  padding: 0;

  background-color: var(--dark-primary);
}

.card-title > .header-2 {
  font-size: 52px;
}

.card-number {
  display: block;
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha Regular', sans-serif;
  line-height: 1;
}

.form {
  align-items: center;
  padding: 40px 55px;
}

.form-input-label {
  font-size: 18px;
}

.form-input-group > * {
  padding: 0;
  border: none;

  outline: none;
}

.form-input-field {
  width: 100%;
  height: 20px;
  padding: 15px;

  font-size: 13px;
}

.form-input-button {
  position: relative;

  width: 70px;

  background-color: var(--primary);
}

.form-input-button::before {
  position: absolute;
  top: 15px;
  left: 15px;

  width: 100%;
  height: 100%;

  background: url('../assets/send.svg') no-repeat;

  content: "";
}

.form-input-text {
  color: var(--white);
  font-size: 12px;
}

[class="card nav-link"]:hover,
[class$="card nav-link"]:hover [class^=header-] {
  color: var(--white);

  background-color: var(--primary);
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-380 {
  margin-bottom: 380px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
