:root {
  --true-black: #000;
  --gray: #757575;
  --bootstrap-dark: #212529;
  --white: #fff;
  --white-translucent: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #ea7600;
  --dark: #2a2626;
  --dark-primary: #42413c;
  --dark-translucent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.woff2');
}

@font-face {
  font-family: 'Neucha Regular';
  src: url('../fonts/Neucha-Regular.woff2');
}

body {
  margin: 0;

  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  font-family: 'OpenSans Regular', sans-serif;
  line-height: 1.6em;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-item-equal-width {
  flex: 1 0;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.section {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-summary {
  font-size: 34px;
  font-family: 'Neucha Regular', sans-serif;
  line-height: 1.2;
}

.background-solid-dark {
  background-color: var(--dark-primary);
}

.background-solid-light {
  background-color: var(--light);
}

.background-solid-white {
  background-color: var(--white);
}

.background-solid-brown {
  background-color: var(--brown);
}

[class^=background-pattern-] {
  position: relative;
}

[class^=background-pattern-]::before {
  position: absolute;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

[class^=background-pattern-]::after {
  position: absolute;
  top: 0;

  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--light);

  content: "";
}

.background-pattern-light::after {
  background-color: var(--light);
}

.background-pattern-dark::after {
  background-color: var(--brown);
}

[class^=h-] {
  font-weight: 400;

  font-family: 'Neucha Regular', sans-serif;
  line-height: 1.2em;
}

.h-1 {
  font-size: 72px;
}

.h-2 {
  font-size: 60px;
}

.h-3 {
  font-size: 34px;
}

.tagline {
  font-size: 24px;
  font-family: 'Neucha Regular', sans-serif;
  line-height: 1.2em;
}

.header-section-article {
  margin-top: 100px;
  margin-bottom: 0;
  padding: 5px 10px;
}

.text-color-true-black {
  color: var(--true-black);
}

.text-color-blue {
  color: var(--blue);
}

.text-color-primary {
  color: var(--primary);
}

.text-color-white {
  color: var(--white);
}

.text-color-white-translucent {
  color: var(--white-translucent);
}

.text-color-brown {
  color: var(--brown);
}

.text-color-dark {
  color: var(--dark);
}

.text-color-dark-primary {
  color: var(--dark-primary);
}

.text-color-dark-translucent {
  color: var(--dark-translucent);
}

.text-color-bootstrap-dark {
  color: var(--bootstrap-dark);
}

.text-columns {
  grid-column-gap: 30px;
}

.text-align-center {
  text-align: center;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.font-family-header {
  font-family: 'Neucha Regular', sans-serif;
}

.font-weight-bold {
  font-weight: 700;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-52 {
  font-size: 52px;
}

[class*="button"] {
  background-color: var(--primary);
}

[class*="button"]:hover {
  background-color: var(--primary-dark);
}

.nav-button {
  display: inline-block;
  height: 25px;
  margin-top: 40px;
  padding: 12px 24px;
}

.video {
  margin-bottom: -200px;
  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.illustration-header {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.illustration-section {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.illustration-section:nth-child(odd) {
  margin-right: 30px;
}

.illustration-section:nth-child(even) {
  margin-left: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 30px;
  max-width: 1110px;
  padding-top: 70px;
}

.card {
  flex: 1 1 350px;
  box-sizing: border-box;
  max-height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 24px;
}

.nav-link {
  text-decoration: none;
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.email-form {
  align-items: center;
  justify-content: space-between;
  padding: 40px 55px;
}

.form-input-group > * {
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.form-input-field {
  width: 415px;
  padding: 15px;

  font-size: 13px;
}

.form-input-field::placeholder {
  color: var(--gray);

  opacity: 0.2;
}

.form-input-button {
  position: relative;

  width: 70px;
}

.form-input-button::before {
  position: absolute;
  top: 13px;
  left: 23px;

  width: 24px;
  height: 24px;

  background: url('../assets/send.svg') no-repeat;

  content: "";
}

[class*="card nav-link"]:hover,
[class*="card nav-link"]:hover > * {
  color: var(--white);

  background-color: var(--primary);
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-65 {
  margin-top: 65px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-185 {
  margin-bottom: 185px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-30 {
  margin-right: 30px;
}
